DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=insighthub
DB_USER=insighthub
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5433

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

MAX_CSV_UPLOAD_BYTES=10485760
